# Decision Trees

Ejemplo inicial dónde se muestra como es un proceso de entrenamiento de un modelo de aprendizaje sin considerar aspectos clave para el aprendizaje.


from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

cancer = load_breast_cancer()

X_train, X_test, y_train, y_test = train_test_split(
    cancer.data, cancer.target, stratify=cancer.target, train_size = 0.7,
    test_size = 0.3, random_state=42)

tree = DecisionTreeClassifier(random_state=0)
tree.fit(X_train, y_train)
print("Accuracy on training set: {:.3f}".format(tree.score(X_train, y_train)))
print("Accuracy on test set: {:.3f}".format(tree.score(X_test, y_test)))

### Ejemplo 2

In [1]:
import pandas as pd
import numpy as np
import math

¿Cómo definir adecuadamente el tamaño del conjunto training y test?

In [7]:
#Leer los datos, nombre de los atributos y la clase
setInicial=pd.read_csv('diabetes.csv')
atributosName=setInicial.columns[:-1]
atributoClase=setInicial.columns[-1]
clasesName=setInicial[setInicial.columns[-1]].drop_duplicates()
print(atributoClase)

class

In [10]:
set_positive = setInicial.loc[setInicial['class'] == clasesName[0]]
set_negative = setInicial.loc[setInicial['class'] == clasesName[1]]
set_positive

     preg  plas  pres  skin  insu  mass   pedi  age            class
0       6   148    72    35     0  33.6  0.627   50  tested_positive
2       8   183    64     0     0  23.3  0.672   32  tested_positive
4       0   137    40    35   168  43.1  2.288   33  tested_positive
6       3    78    50    32    88  31.0  0.248   26  tested_positive
8       2   197    70    45   543  30.5  0.158   53  tested_positive
..    ...   ...   ...   ...   ...   ...    ...  ...              ...
755     1   128    88    39   110  36.5  1.057   37  tested_positive
757     0   123    72     0     0  36.3  0.258   52  tested_positive
759     6   190    92     0     0  35.5  0.278   66  tested_positive
761     9   170    74    31     0  44.0  0.403   43  tested_positive
766     1   126    60     0     0  30.1  0.349   47  tested_positive

[268 rows x 9 columns]

In [73]:
#Genera una columna con un número aleatorio
setInicial['Tmp']=pd.DataFrame(np.random.rand(len(setInicial), 1))

#Se ordenan por medio del atributo aleatorio para separarlos más adelante
setInicial=setInicial.sort_values(by='Tmp')
setInicial.pop('Tmp')

230    0.001003
295    0.002005
279    0.002276
569    0.003636
729    0.003934
         ...
734    0.990347
651    0.992098
437    0.993743
222    0.994908
155    0.999054
Name: Tmp, Length: 768, dtype: float64

In [74]:
cont = 0
Tope = math.floor(len(setInicial) * 0.8)
print(len(setInicial))
print(tope)

768
576

In [75]:
Train = setInicial.iloc[cont:Tope]
Test = setInicial.iloc[Tope:len(setInicial)]
print("Train: ",len(Train)," intancias.\nTest: ",len(Test)," instancias.")

Train:  614  intancias.
Test:  154  instancias.

In [76]:
#A PARTIR DE AQUÍ DE INICIA CON LA SEPARACIÓN Y CLASIFICACIÓN
valoresTrain=Train[atributosName]
valoresTest=Test[atributosName]
clasesTrain=Train[atributoClase]
clasesTest=Test[atributoClase]

In [77]:
clasificador = DecisionTreeClassifier(max_depth=3)
modelo = clasificador.fit(valoresTrain, clasesTrain)

In [78]:
print("Accuracy on training set: {:.3f}".format(modelo.score(valoresTrain, clasesTrain)))
print("Accuracy on test set: {:.3f}".format(modelo.score(valoresTest, clasesTest)))

Accuracy on training set: 0.772
Accuracy on test set: 0.773